<!DOCTYPE html>
<html lang="fr" class="no-js">
<head>
    {% include 'includes/head.twig' %}
</head>
<body>
  {% include 'includes/header.twig' %}

  <section id="content">
    <div class="inner">
      <article class="bgl">
        <h1>{{ meta.title }} </h1>
        <p class="meta clearfix">
            <span class="date_lsp">
                {% if meta.date %}le {{ meta.date|date("d/m/Y", "Europe/Paris") }}{% endif %} {% if meta["Category"] %}dans {{ meta["Category"] }} {% endif %}
            </span>
            {% if meta["Tags"][0] != "" %}
              <span class="tags_lsp">
                <i class="fa fa-tags"></i>{% for tag in meta["Tags"] %}<a class="hvr_over" href="{{ base_url }}/tag/{{ tag }}">#{{ tag }}</a>{% endfor %}
              </span>
            {% endif %}
        </p>
        <div class="article">
            {{ content }}
        </div>
      </article>
      <div class="pagination_article">
            {% if next_page %}
                <a href="{{ next_page.url }}" class="pa_recent">
                    <div class="pa_arrow"><i class="fa fa-angle-double-left"></i></div>
                    <div class="pa_title">
                        <span class="pa_date">{{ next_page.date|date("d/m/Y", "Europe/Paris") }}</span>
                        <br>
                        <span>{{ next_page.title }}</span>
                    </div>
                </a>    
            {% endif %} 
            {% if prev_page %}
                <a href="{{ prev_page.url }}" class="pa_older">
                    <div class="pa_title">
                        <span>{{ prev_page.title }}</span>
                        <br>
                        <span class="pa_date">{{ prev_page.date|date("d/m/Y", "Europe/Paris") }}</span>
                    </div>
                    <div class="pa_arrow"><i class="fa fa-angle-double-right"></i></div>
                </a>
            {% endif %} 
        </div>
    </div> {# END .inner #}
  </section> {# END #content #}

  <!-- FOOTER -->
  {% include 'includes/footer.twig' %}

</body>
</html>