<meta charset="utf-8" />
<meta content="initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<title>{% if meta.title %}{{ meta.title|escape }} | {% endif %}{{ site_title }}</title>

{% if meta.description %}<meta name="description" content="{{ meta.description }}">{% endif %}

{% if meta["Robots"] %}<meta name="robots" content="{{ meta["Robots"] }}">{% endif %}

{% if meta.author %}<meta name="author" content="{{ meta.author }}">{% endif %}

{% if meta["License"] %}<meta name="license" content="{{ meta["License"] }}">{% endif %}

{% if meta["Tags"] %}<meta name="keywords" content="{{ meta["Tags"] | join(',') }}">{% endif %}

<!-- Normalize CSS -->
<link rel="stylesheet" href="{{ theme_url }}/css/normalize.min.css" type="text/css" />

<!-- Route159 font from Dotcolon - http://dotcolon.net/font/route159/ -->
<link rel="stylesheet" href="{{ theme_url }}/css/route159/route159_fontface.min.css" type="text/css" />

<!-- Awesome font -->
<link rel="stylesheet" href="{{ theme_url }}/css/fontawesome_4-7-0/css/font-awesome.min.css" type="text/css" />
<!-- Personal styles -->
<link rel="stylesheet" href="{{ theme_url }}/css/styles.min.css" type="text/css" />
<!-- Modernizr -->
<script src="{{ theme_url }}/scripts/modernizr-2.6.1.min.js"></script>
<!-- non jQuery FitText : https://github.com/adactio/FitText.js -->
<script src="{{ theme_url }}/scripts/FitText.js/fittext.js"></script>

{# Favicon generated with https://realfavicongenerator.net/ #}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=20180711">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=20180711">
<link rel="icon" type="image/png" sizes="194x194" href="/favicon-194x194.png?v=20180711">
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png?v=20180711">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=20180711">
<link rel="manifest" href="/site.webmanifest?v=20180711">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=20180711" color="#2d3f4a">
<link rel="shortcut icon" href="/favicon.ico?v=20180711">
<meta name="msapplication-TileColor" content="#25bea0">
<meta name="msapplication-TileImage" content="/mstile-144x144.png?v=20180711">
<meta name="theme-color" content="#fabc09">